/*------------Tady piš svoje stylování --------------*/
/*mobile first! */
.social-media {
  justify-content: flex-start;
  width: 40%;
  padding-left: 5px;
}

.icon {
  margin-right: 20px;
}

.date {
  position: relative
}
.date__busy {
  position: absolute;
  top: 10px;
}

.photos {
  overflow-x: hidden;
}
 /*styly platí pro obrazovku a v případě, že má obrazovka aspon 576 px*/

@media screen and (min-width: 576px) {
  .social-media {
    width: 30%;
  }

  .dashboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

  }

  .card--md {
    width: 49%;
    
  }

  .card--lg {
    width: 100%
  }

  .card--sm {
    width: 49%
  }
  .card--wide {
    width: 100%
  }

  .newsletter__article {
    width: 100%
  }
}

@media screen and (min-width: 992px) {
  .social-media {
    width: 20%;
  }

  .newsletter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .newsletter__article {
    width: 49%;
    

  }
}

@media screen and (min-width: 1200px)  {
  .social-media {
    width: 15%;
  }

  .dashboard {
    display: flex;
  
  }
  .card--md {
    order: 2;
    width: 32%;
  }

  .card--lg {
    order: 3;
  }

  .card--sm {
    order: 4;
  }
  .card--wide {
    order: 1;
    width: 32%;
  }

  .newsletter__article {
    width: 32%;

}